{% extends "layout.html" %}

{% block main %}

    <div class="container left">
        <div class="container font" style="margin: 3.4em 0; font-weight: bold; font-size: 3rem;">
             "You can always edit a bad page. You can’t edit a blank page"
        </div>
        <div>
            <p><a class="btn btn-link bottom" href="/register">Join our community!</a></p>
            <p class="bottom">Already have an account? <a class="btn btn-link bottom" href="/login">Login</a></p>
        </div>
    </div>

{% endblock %}