{% extends "layout.html" %}

{% block title %}
    - Register
{% endblock %}

{% block main %}

    <form action="/register" method="post" enctype = "multipart/form-data">
        <div class="form-group">
            <input autocomplete="off" class="form-control" autofocus name="display" placeholder="Display name" type="text" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" id="password" name="password" class="form-control" placeholder="Password" type="password" required>
            <p class="message" style="display: none">Password must be atleast 8 characters long</p>
        </div>
        <div class="form-group">
            <input autocomplete="off" id="confirmation" name="confirmation" class="form-control" placeholder="Confirm password" type="password" required>
            <p class="message" style="display: none">Passwords don't match!</p>
        </div>
        <div class="form-group">
            <label class="form-control" for="img">Choose a profile picture:</label>
            <input autocomplete="off" id="img" name="picture" class="form-control" type="file" accept="image/*" style="display: none;" required>
        </div>
        <button class="btn btn-outline-dark" type="submit">Register</button>
    </form>
    <div class="container">
        <p>Already have an account? <a class="btn btn-link link" href="/login">Login</a></p>
    </div>

    <script>
        const selector = document.querySelector("#img");
        selector.addEventListener('change', function() {
            let filename = this.files[0].name;
            document.querySelector("label").innerHTML = filename;
        });

        const message1 = document.querySelector("p");
        document.querySelector("#password").addEventListener('keyup', function(e) {
            if(e.target.value.length > 7) {
                message1.style.display = "none";
            }
            else {
                message1.style.display = "block";
            }
        })
        const message2 = document.querySelectorAll("p")[1];
        document.querySelector("#confirmation").addEventListener('keyup', function(e) {
            if(e.target.value === document.querySelector("#password").value) {
                message2.style.display = "none";
            }
            else {
                message2.style.display = "block";
            }
        })

    </script>

{% endblock %}